name: docker image build and push
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: docker image build
      run: docker build -t cdlei/flask-redis:latest .
    - name: list docker image
      run: docker image ls
    - name: dockerhub login
      run: docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -P ${{ secrets.DOCKERHUB_PASSWORD }}
    - name: push to dockerhub
      run: docker image push cdlei/flask-redis:latest
